
:root {
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainNavy: #2b3441;
  --mainYellow: #ffa400;
  --mainBlue: #2a2a72;
  --lightGrey: #969696;
  --lightBlue: #00c8ff;
  --lightGreen: #9fc461;
  --darkGreen: #40ad48;
  --danger: #d35832;
  --purple: #d3aad6;
  --greyMuted: #d6d6d6;
  --lightGrey2: #b2b2c2;
  --mainGrey: #545454;
}

*{
  box-sizing:border-box;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}